body {
  background: $clr-grey;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1025px;
  padding: 0 10px;
  position: relative;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.content {
  &__list {
    margin-left:-5%;
    margin-right: -5%;
    padding: 17px 0;
    width: 110%;

    -webkit-box-shadow: inset 0 20px 20px -30px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -30px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -30px rgba(0,0,0,0.8);
  }

  &__list-header { padding: 30px 0 12px; }

  &__tabs-title {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding: 20px 0;

    a {
      color: $clr-smoke-grey;
      font-weight: 400;
      font-size: 14px;
    }

    &:hover a {
      color: $clr-noir-grey;
    }

    &--active {
      @extend .content__tabs-title;
      border-bottom: 2px solid $clr-default-blue;
    }
  }
}

.banner {
  background: $clr-default-blue;
  color: white;
  font-weight: 400;

  &__logo {
    padding: 20px 0;
    float: left;
  }
}

.background {
  &--grey { background: $clr-grey; }

  &--white { background: $white; }
}

.content-title {
  color: $clr-dark-grey;
  font-weight: 300;

  &--blue {
    @extend .content-title;
    color: $clr-default-blue;
  }
}

.user-avatar {
  float: left;
  margin: 8px 8px 0 0;

  &--header {
    @extend .user-avatar;
    float: right;
    margin: 0;
    padding: 9px 0 0;

    .user-name {
      padding: 9px 0px;
      display: inline-block;
      position: relative;
      top: -13px;
      margin-right: 13px;
    }
  }

  img {
    border-radius: 100%;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    object-fit: cover;

    transition: all .1s linear;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.18);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.18);

    &:hover {
      opacity: 0.9;
    }

  }

  &--taken {
    @extend .user-avatar;
  }
}

.status-list {
  .status-text {
    color: #697f8a;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 16px 0;

    &--free {
      @extend .status-text;
      color: $clr-default-green;
    }
  }

  &__titles {
    span {
      color: $clr-dark-grey;
      display: block;
      font-size: 12px;
      font-weight: 600;
      padding-bottom: 5px;
    }
  }

  &__titles,
  &__row {
    border-bottom: 1px solid $clr-light-grey;
    padding: 12px 0;
  }
}

.content-form {
  &__label {
    color: $clr-dark-blue;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }

  &__input {
    padding: 11px;
    background-color: $white;
    font-weight: 14px;
    color: $clr-grey;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid $clr-grey;
    width: 100%;
  }

  &__select {
    @extend .content-form__input;
  }

  &__text-area {
    @extend .content-form__input;
    height: 164px;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.51);
  
  &__content {
    background: $white;
    margin: 0 auto;
    max-width: 590px;
    margin-top: 6%;
    padding: 50px 80px;
    border-radius: 5px;
  }
}

@keyframes box {
  0% {
    opacity: 0;
    bottom: -16px;
  }

  100% {
    opacity: 1;
    bottom: -32px;
  }
}

.arrow_box {
  position: absolute;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  right: -12px;
  color: grey;
  border-radius: 2px;
  bottom: -16px;
  opacity: 0;
  z-index: 99;


  animation-delay: .1s;
  animation-duration: .10s;
  animation-fill-mode: forwards;
  animation-name: box;
  transition: all .2s ease;

  .arrow-box__content {
    padding: 10px;
    position: relative;
    z-index: 30;
    span { font-weight: 300 }

    &:hover {
      a { opacity: .5; }
    }
  }
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(247, 247, 247, 0);
  border-bottom-color: #f7f7f7;
  border-width: 11px;
  margin-left: -11px;
}

$offset: 187;
$duration: 1.4s;

.spinner-content {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

@media screen and (max-width: 700px) {
  .content__list {
    padding: 17px 10%;
  }

  .modal__content {
    padding: 48px 33px;
    margin: 0 38px;
  }
}