/**
* General form styles, inputs, labels, form-field and text area style
**/

.form-field{
  margin-bottom: 8px;
  width: 100%;
  position: relative;
}

.input--text{
  @extend .form-control;
  border: 1px solid #BAC4C9;
  border-radius: 2px;
  // padding: 0 5px;
  width: 100%;
  -webkit-appearance: none;
}

.input--radius{
  border-radius: 10px;
}

.label--inline{
  line-height: 22px;
}

textarea{
  @extend .form-control;
  display: block;
  height: 80px;
  resize: none;
}


.form-control{
  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
