// COLORS
//-----------------------------------
$clr-grey: #eceff1;
$clr-dark-grey: #697f8a;
$clr-smoke-grey: #5f7d8c;
$clr-noir-grey: #263238;
$clr-light-grey: #dbe2e6;

$clr-dark-black: #4d555b;
$clr-default-green: #70c667;
$clr-default-blue: #00aff0;

$clr-dark-blue: #0F2A45;
$clr-light-green: #54E188;
$clr-green: #54E188;
$white: #ffffff;
$black: #000000;


// FONT 
//----------------------------------

$spacing-base: 10px;
$spacing-quarter: $spacing-base / 4;
$spacing-small: $spacing-base / 2;
$spacing-mid: $spacing-base * .75;
$spacing-medium: $spacing-base * 1.5;
$spacing-double: $spacing-base * 2;
$spacing-large: $spacing-double * 2;       