/**
* General styles for accordions
**/

.accordion__group{
  margin-bottom: 8px;
}

.accordion__title{
  @extend .cf;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  padding: 8px 0 8px 9px;

  .icon--sortable{
    @extend .float--right;
    line-height: 16px;
    padding: 0 8px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }

  &.ui-accordion-header-active{
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
  }
  &:focus{
    outline: 0;
  }
  .ui-accordion-header-icon{
    font-family: 'monetize';
    font-size: 7px;
    float: left;
    padding: 3px 5px 3px 0;
  }
  .ui-icon-triangle-1-s{
    cursor: pointer;
    &:before{
      content: "\e604";
    }
  }
  .ui-icon-triangle-1-e{
    cursor: pointer;
    color:#C4CED4;
    &:before{
      content: "\e605";
    }
  }

}

.accordion__body{
  border-radius: 0 0 4px 4px;
  margin-bottom: 8px;
  max-height: 300px;
  overflow-y: auto;
  padding: 0 16px 9px 22px;
  &.ui-accordion-content-active{
    border-top: 0;
  }
  .form-field{
    margin-bottom: 8px !important;
  }
}

.accordion__body-space{
  padding-top: 9px;
}

.widget__body{
  @extend .accordion__body;
  padding-top: 9px;
  border-radius: 4px;
}

.accordion__list{
  li{
    border-radius: 4px;
    color: #FFF;
    display: block;
    margin-bottom: 4px;
    padding: 6px 10px;
  }
}

.accordion__title-name{
  @extend .ellipsis;
  display: inline-block;
  float: left;
  font-size: 12px;
  width: 70%;
}

.accordion__item{
  @extend .cf;
  border: 2px solid transparent;
  .icon--sortable{
    cursor: -webkit-grab;
    cursor: -moz-grab;
    float: right;
    opacity: 0;
    padding-top:2px;
    transition: opacity 0.25s ease;
  }
  &.ui-draggable:hover{
    .icon--sortable{
      opacity: 1;
    }
  }
  &.ui-state-disabled{
    &:hover{
      border-color: transparent;
      .icon--sortable{
        display: none;
      }
    }
  }
}

.accordion__item-name{
  @extend .ellipsis;
  display: inline-block;
  float: left;
}