/**
* Styles for logo
**/

.navbar-brand {
  float: left;
  .logo{
    color: #026BA8;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 16px 20px;
    .icon{
      color: #FF6600;
    }
  }
}