/**
* General styles for droppable and draggable elements
**/

.ui-droppable{
  border: 2px solid transparent;
}

.dropper{
  background: rgba(244,247,249,0.32);
  border-radius: 6px;
  border: 2px dotted #ABB6BC;
  display: table;
  height: 100%;
  min-height: 330px;
  overflow-y: auto;
  width: 100%;
  .drop-label{
    color: #344B52;
    display: table-cell;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    vertical-align: middle;
  }
}

.dragger{
  background: rgba(184, 229, 255, 0.52);
  border-radius: 4px;
  border: 1px solid rgba(0, 162, 255, 0.52);
  box-shadow: 2px 4px 0px 0px rgba(186, 186, 186, 0.1);
  color: #1B282C;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  min-width: 214px;
  padding-left: 8px;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  position: relative;
  z-index: 20;
}

.dragger-column{
  @extend .dragger;
  min-width: 171px;
}

.dropper-state-hover{
  background: #FFFFFF;
  border: 2px solid #18BC7B;
  border-radius: 4px;
}

.ui-draggable-disabled{
  &.accordion__item{
    opacity: 0.5;
  }
  .accordion__title{
    cursor: default;
    .icon--sortable{
      opacity: 0.3;
    }
  }
}

.loaded-data{
  .dropper{
    border-color: transparent;
    background: transparent;
  }
  .loading-container{
    background: rgba(255,255,255,0.5);
    z-index: 10;
  }
}