/**
* Styles for loading and progress bar
**/

.loading-container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.text-loading{
  color: #999999;
  font-size: 14px;
  line-height: 19px;
}
.progressbar {
    width: 120px;
    height: 15px;
    clear: both;
    background: #E9E9E9;
    border-radius: 4px;
    margin: 5% auto .6em;
    overflow: hidden;
}

.progress {
    background: #FF6600;
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress .2s 1 forwards;
    -moz-animation: progress .2s 1 forwards;
    -ms-animation: progress .2s 1 forwards;
    animation: progress .2s 1 forwards;
}

.pbaranim {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: url('../images/progress.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

@-webkit-keyframes progress {
    from { }

    to { width: 100% }
}

@-moz-keyframes progress {
    from { }

    to { width: 100% }
}

@-ms-keyframes progress {
    from { }

    to { width: 100% }
}

@keyframes progress {
    from { }

    to { width: 100% }
}